


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

html, body, #root {
  background-color: #030712 !important;
  color: #ffffff;
}

.subscribe-bg {
  background-color:#FFFFFF;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal bg-charcoal text-white pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

.scroll-watcher {
  height: 2px;
  position: fixed;
  top: 0;
  z-index:1000;
  background-color: #1877F2;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to { scale: 1 1; }
}

.scroll-watcher-2 {
  height: 2px;
  position: fixed;
  top: 0;
  z-index:1000;
  background: #6C5CE7;
  width: 100%;
  scale: 0 1;
  transform-origin: right;
  animation: scroll-watcher-2 linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher-2 {
  to { scale: 1 1; }
}

/** For mobile devices **/
@media (max-width: 767px) {}

@media screen and (max-width: 552px) {
  .subscribe-button {
    width: 120px; /* Smaller width for small screens */
    height: 80px; /* Optional: slightly reduce height */
    font-size: 14px; /* Adjust font size */
  }
}
  

.rmbackground {
  display: "none";
}


.subscribe-bg {
  background-color: "transparent"
}

.bold {
  font-weight: bold;
  /* color: #00CEC9; */
}

.normal {
  font-weight: normal;
  /* color: #00CEC9; */
}



.textShadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.brand-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease; /* Smooth transition */
}

.brand-image:hover {
  filter: grayscale(0%); /* Remove grayscale on hover */
}

.hero-text {
  font-family: "Cormorant", serif;
}
.lead-text {
  font-family: "Inter", serif;
}


@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-16;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
  .padding-h {
    @apply sm:px-8 px-8;
  }

  .info-text {
    @apply font-montserrat text-white text-lg leading-7 font-bold;
  }
  .shop-text {
    @apply font-montserrat text-white text-lg leading-7;
  }
  .verified-text {
    @apply font-montserrat text-phlokkGreen text-lg leading-7 font-bold;
  }

  .feedback-text {
    @apply font-montserrat text-white-400 font-bold text-lg leading-none;
  }

  .feedback-text2 {
    @apply font-montserrat text-white-400 text-lg leading-7;
  }

  .notFound-text {
    @apply font-montserrat font-bold text-white-400 text-3xl leading-7;
  }

  .thankYou-text {
    @apply font-montserrat text-white-400 text-xl leading-7;
  }

  .icon-text {
    @apply font-montserrat text-white-400 text-lg leading-7;
  }

  .merch-text {
    @apply font-montserrat text-white-400 text-lg leading-7;
  }

  .review-text {
    @apply font-montserrat text-white text-lg font-bold leading-7;
  }

  .price-text {
    @apply font-montserrat text-white text-lg leading-7 font-bold;
  }

  .document-p-text {
    @apply font-montserrat text-white text-lg leading-7;
  }

  .document-title-text {
    @apply font-montserrat font-bold text-white text-3xl leading-7;
  }

  .header-title-text {
    @apply font-montserrat text-white font-bold text-4xl leading-7;
  }


  .verified-icon {
    @apply font-montserrat text-white text-xl;
  }

  html, body {
  background-color: #030712 !important;
  background-image: none !important;
  background-blend-mode: normal !important;
}

}